.logo {
  display: flex;
  justify-content: center;
  height: 30vh;
  align-items: flex-end;

  img {
    width: 50%;
    margin: 20px;
  }
}

ion-button {
  height: 44px;
  width: 80%;
  margin: 32px auto;
}
